apiVersion: v1
kind: Service
metadata:
  name: {{ include "oci-agent-stack.fullname" . }}-gateway
  labels:
    {{- include "oci-agent-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: gateway
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "oci-agent-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: gateway
